# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Recognize popular Data Science tools
- Evaluate simple arithmetic expressions in Python
- Convert units using Python (e.g., minutes to hours)

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Python)
3. dplyr (R)

Data Science Tools

- Jupyter Notebook
- RStudio
- Anaconda

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

## Author

SADADOU Mohamed