# My Data Science Notebook

## Introduction

In this notebook, we will explore various data science languages, libraries, and tools. Additionally, we will practice writing simple code cells to perform arithmetic operations and unit conversions.

## Data Science Languages

1. Python
2. R
3. SQL
4. Julia
5. SAS

## Data Science Libraries

1. Pandas (Python)
2. NumPy (Python)
3. SciPy (Python)
4. ggplot2 (R)
5. dplyr (R)

## Data Science Tools

| Tool        | Description                                            |
|-------------|--------------------------------------------------------|
| Jupyter    | An open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. |
| RStudio     | An integrated development environment for R, a programming language for statistical computing and graphics. |
| Anaconda    | A distribution of the Python and R programming languages for scientific computing, that aims to simplify package management and deployment. |
| Tableau     | A data visualization tool that is used for converting raw data into an understandable format; graphs, visuals. |
| PowerBI     | A business analytics tool that delivers insights to enable fast, informed decisions. |

## Arithmetic Expression Examples

In the following sections, we will explore some basic arithmetic expressions such as addition and multiplication.

In [1]:
# Code Cell to Multiply and Add Numbers
number1 = 5
number2 = 3

# Multiplication
product = number1 * number2

# Addition
sum_result = number1 + number2

product, sum_result

(15, 8)

In [2]:
# Code Cell to Convert Minutes to Hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives

1. Understand various data science languages.
2. Learn about popular data science libraries.
3. Familiarize with common data science tools.
4. Practice simple arithmetic operations in code cells.
5. Learn to convert units using code cells.

## Author

SADADOU Mohamed